*{
	margin: 0;
	padding: 0;
}

body {
	background: #EEE;
    font-family: helvetica;
}

tr {
    border: 1px blue solid;
}
td {
    background-color: #FFF;
    height: 150px;
    width: 150px;
    border:1px solid #444;

}
.btn{
    
    background: #FFF;
    color: #222  !important;
    text-decoration: none !important;
    padding: 6px 10px;
    border: 2px #222 solid;
    width: 75px;
    display: block;
    margin: 10px auto;
}

.btn:hover{
    background: #222;
    color: #FFF  !important;
}

.centre{

	margin: 0 auto;
	text-align: center;
    width: 500px;

	}

#win {
    width: 250px;
    margin: 0 auto;
}

h3 {
    padding: 15px 0;
    font-size: 32px;
    color: #FFF;
    position: relative;
    top: -300px;
    background-color: #000;
    border: 2px #FFF solid;
}
